@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: #FDFDFD; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/* Manager LHS */
.manager_lhs {
    background-color: #2C2F48;
    height: 100vh;
    position: fixed;
    padding: 0px;
    width: 25%;
    max-width: 325px;
    min-width: 325px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
        min-width: 325px;
    }

    /* Logo and Register Top Div */
    .logo_top_div {
        padding: 25px;
        padding-left: 30px;
       
        img {
            width: 180px;
        }

        //Register
        .store_register {
            margin-top: 10px;

            //Register <ul>
            .register_ul {
                color: #ddd;
                padding-left: 30px;
                font-size: 14px;
                font-weight: 600;
                list-style: none;
                margin-bottom: 0px;

                //Register <li>
                & > li::before {
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #FC4D36; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */ 
                    width: .75em; /* Also needed for space (tweak if needed) */
                    margin-left: -1.5em; /* Also needed for space (tweak if needed) */  
                }

                //Register <li>
                & > li {
                    a {
                        color: #ddd;
                        text-decoration: none;
                    }
                }

                //Register icon
                .svg-inline--fa {
                    margin-left: 5px;
                    position: relative;
                    top:2px;
                }
            }
            // Register <ul>
        }
        // Register
    }
    /* Logo and Register Top Div */


    /* Username, Lock and Signout */
    .username_signout {
        color: #B9B9B9;
        border-top: 1px solid #5D5D5D;
        border-bottom: 1px solid #5D5D5D;
        font-size: 14px;

        //padding: 0px;
        //padding-left: 30px;
        
        & > .row > div {
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
            }
        }

        .username {
            border-right: 1px solid #5D5D5D;
            padding-left: 30px;
            font-size: 13px;
            font-family: montserrat;
            //padding-left: 30px;

            svg {
                margin-left: 8px;
                font-size: 16px;
            }
        }

        .lock {
            border-right: 1px solid #5D5D5D;
            font-size: 9px;
            font-weight: 500;
            font-family: montserrat;
            text-transform: uppercase;
            cursor: pointer;

            svg {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        .sign_out {
            svg {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    /* Username, Lock and Signout */

    /* Menu */
    .menu {
        padding: 20px;
        padding-top: 60px;
        padding-left: 40px;
        a {
            color: #ddd;
            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 500;
            text-decoration: none;
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            margin-bottom: 40px;
            transition: all 0.3s ease;
            &:hover {
                color: #fff;
            }
            svg {
                margin-right: 15px;
                font-size: 14px;
            }
        }
    }
    /* Menu */

    /* Submit */
    .support {
        color: #fff;
        position: absolute;
        bottom: 0px;
        width: 100%;

        h3 {
            text-align: center;
            font-family: montserrat;
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #5D5D5D;
            span {
                font-weight: 700;
                color: #FC4D36;
            }
        }

        &__icon {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;

            a {
                color: #ddd;
                transition: all 0.3s ease;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
            
            svg {
                margin-right: 5px;
                font-size: 17px;
            }
        }
    }
    /* Submit */

    /* Mobile LHS */
    &.manager_lhs_mobile {
        height: 100px;

        .logo_top_div {
            padding: 15px;
        }

        .mobile_menu_button {
            cursor: pointer;
            position: absolute;
            padding: 0px 25px;
            right: 0px;
            color: #fff;
            font-size: 30px;
            height: 100%;
            top: 0px;
            line-height: 0;
            display: flex;
            align-items: center;
        }
    }
    /* Mobile LHS */
}
/* Manager LHS */

/* Manager RHS */
.manager_rhs {
    min-height: 100vh;
    width: 100%;
    margin-left: 325px;
    padding: $rhs_padding;

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
        min-height: calc(100vh - 100px);
    }

    /* Manager RHS: Top Bar */
    &__top_bar {
        display: flex;
        margin-bottom: 40px;

        & > div {
            display: flex;
            align-items: center;
        }

        //RHS Menu Icon
        .rhs_menu_icon {
            color: #FC4D36;

            svg {
                font-size: 26px;
            }
        }
        
        // RHS Title
        .rhs_title {
            font-family: montserrat;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: $rhs_padding;
        }
    }
    /* Manager RHS: Top Bar */

    /* Manager RHS: Content */
    &__content {
        &__title {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            border-bottom: 1px solid #D1D1D1;
            padding-bottom: 10px;
            color: #171717;
            margin-bottom: 30px;

            .title_light {
                font-size: 12px;
                margin-left: 5px;
            }
        }

        &__body {
            .icon_container {
                display: inline-block;

                .icon_a {
                    color: #333;
                    transition: all 0.3s ease;

                    &:hover {
                        color: #000;
                    }
                }

                svg {
                    font-size: 55px;
                }

                .icon_text {
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;

                    span {
                        display: flex;
                        justify-content: center;

                        &.icon_status {
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                }
            }
            /* Icon Container */
        }
        /* Content Body */
    }
    /* Manager RHS: Content */
}
/* Manager RHS */