@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';

body {
    background-color: $body_color; //overflow-y: hidden;
    font-family: "open sans";
}

input {
    font-family: "open sans";
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale3d(.3, .3, .3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    animation-name: zoomIn;
  }

  @keyframes slideInLeft {
    from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
  }

  @keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/* Manager LHS */
.manager_lhs {
    background-color: #2C2F48;
    height: 100vh;
    position: fixed;
    padding: 0px;
    width: 25%;
    max-width: 325px;
    min-width: 325px;

    @include media-breakpoint-down(sm) {
        width: 100%;
        max-width: 100%;
        min-width: 325px;
    }

    /* Logo and Register Top Div */
    .logo_top_div {
        padding: 25px;
        padding-left: 30px;
       
        img {
            width: 180px;
        }

        //Register
        .store_register {
            margin-top: 10px;

            //Register <ul>
            .register_ul {
                color: #ddd;
                padding-left: 30px;
                font-size: 14px;
                font-weight: 600;
                list-style: none;
                margin-bottom: 0px;

                //Register <li>
                & > li::before {
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #FC4D36; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */ 
                    width: .75em; /* Also needed for space (tweak if needed) */
                    margin-left: -1.5em; /* Also needed for space (tweak if needed) */  
                }

                //Register <li>
                & > li {
                    a {
                        color: #ddd;
                        text-decoration: none;
                    }
                }

                //Register icon
                .svg-inline--fa {
                    margin-left: 5px;
                    position: relative;
                    top:2px;
                }
            }
            // Register <ul>
        }
        // Register
    }
    /* Logo and Register Top Div */


    /* Username, Lock and Signout */
    .username_signout {
        color: #B9B9B9;
        border-top: 1px solid #5D5D5D;
        border-bottom: 1px solid #5D5D5D;
        font-size: 14px;

        //padding: 0px;
        //padding-left: 30px;
        
        & > .row > div {
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            &:hover {
                color: #fff;
            }
        }

        .username {
            border-right: 1px solid #5D5D5D;
            padding-left: 30px;
            font-size: 13px;
            font-family: montserrat;
            //padding-left: 30px;

            svg {
                margin-left: 8px;
                font-size: 16px;
            }
        }

        .lock {
            border-right: 1px solid #5D5D5D;
            font-size: 9px;
            font-weight: 500;
            font-family: montserrat;
            text-transform: uppercase;
            cursor: pointer;

            svg {
                font-size: 14px;
                margin-bottom: 5px;
            }
        }

        .sign_out {
            svg {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
    /* Username, Lock and Signout */

    /* Menu */
    .menu {
        padding: 20px;
        padding-top: 60px;
        padding-left: 40px;
        a {
            color: #ddd;
            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 500;
            text-decoration: none;
            font-size: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            margin-bottom: 40px;
            transition: all 0.3s ease;
            &:hover {
                color: #fff;
            }
            svg {
                margin-right: 15px;
                font-size: 14px;
            }
        }
    }
    /* Menu */

    /* Submit */
    .support {
        color: #fff;
        position: absolute;
        bottom: 0px;
        width: 100%;

        h3 {
            text-align: center;
            font-family: montserrat;
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #5D5D5D;
            span {
                font-weight: 700;
                color: #FC4D36;
            }
        }

        &__icon {
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            font-family: montserrat;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;

            a {
                color: #ddd;
                transition: all 0.3s ease;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
            
            svg {
                margin-right: 5px;
                font-size: 17px;
            }
        }
    }
    /* Submit */

    /* Mobile LHS */
    &.manager_lhs_mobile {
        height: 100px;
        z-index: 1000;

        .logo_top_div {
            padding: 15px;
        }

        .mobile_menu_button {
            cursor: pointer;
            position: absolute;
            padding: 0px 25px;
            right: 0px;
            color: #fff;
            font-size: 30px;
            height: 100%;
            top: 0px;
            line-height: 0;
            display: flex;
            align-items: center;
        }
    }
    /* Mobile LHS */
}
/* Manager LHS */

/* Manager RHS */
.manager_rhs {
    min-height: 100vh;
    width: 100%;
    margin-left: 325px;
    padding: $rhs_padding;

    &.new_sale_manager_rhs {
        margin-right: 325px;

        @include media-breakpoint-down(lg) {
            margin-right: 0px;
        }

        .manager_rhs__content__body {
            margin-bottom: 40px;
        }
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
        margin-left: 0px;
        margin-top: 100px;
        min-height: calc(100vh - 100px);
    }

    /* Manager RHS: Top Bar */
    &__top_bar {
        display: flex;
        margin-bottom: 60px;

        & > div {
            display: flex;
            align-items: center;
        }

        //RHS Menu Icon
        .rhs_menu_icon {
            color: #FC4D36;

            svg {
                font-size: 26px;
            }
        }
        
        // RHS Title
        .rhs_title {
            font-family: montserrat;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: $rhs_padding;
        }
    }
    /* Manager RHS: Top Bar */

    /* Manager RHS: Content */
    &__content {
        &__title {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            border-bottom: 1px solid #D1D1D1;
            padding-bottom: 10px;
            color: #171717;
            margin-bottom: 40px;

            &.new_item_heading {
                margin-bottom: 40px;
            }
            

            .title_light {
                font-size: 12px;
                margin-left: 5px;
            }
        }

        &__body {
            margin-bottom: 75px;

            .icon_container {
                display: flex;
                flex-wrap: wrap;

                .icon_a {
                    color: #333;
                    transition: all 0.3s ease;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-right:50px;
                    min-width: 100px;
                    margin-bottom: 30px;

                    @include media-breakpoint-down(sm) {
                        margin-right: 30px;
                    }

                    &:hover {
                        color: #000;
                    }
                }

                svg {
                    font-size: 55px;
                }

                .icon_text {
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;

                    span {
                        display: flex;
                        justify-content: center;

                        &.icon_status {
                            font-size: 11px;
                            font-weight: 600;
                        }
                    }
                }

                &.sales {
                    .icon_text {
                        margin-top: 20px;
                    }
                    svg {
                        font-size: 40px;
                    }
                }
            }
            /* Icon Container */

            /* Currency & Coins container */
            .currency_coins_container {
                display: flex;
                flex-wrap: wrap;
                border-bottom: 1px solid #D1D1D1;
                padding-bottom: 10px;

                & > div {
                    margin-right: 100px;

                    @include media-breakpoint-down(md) {
                        margin-right: 25px;
                    }

                    @include media-breakpoint-down(sm) {
                        margin-right: 10px;
                    }
                }

                .extra_fields_container {
                    margin-right: 0px;
                    width: 100%;
                    position: relative;

                    .currency_sign {
                        position: absolute;
                        left: 130px;
                        top: 10px;
                        font-weight: bold;

                    }
                }

                .currency_container {
                    margin-bottom: 10px;
                }

                .currency_count {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;

                    .currency_count_p {
                        margin-bottom: 0px;
                        font-family: montserrat;
                        font-size: 15px;
                        font-weight: 700;
                        width: 100px;
                        display: flex;
                        justify-content: flex-end;
                    }

                    .currency_input, .coin_input, .extra_input, .total_output {
                        background-color: #F0F0F0;
                        border: 1px solid #D1D1D1;
                        border-radius: 4px;
                        padding: 8px;
                        width: 80px;
                        margin-left: 20px;
                    }

                    .extra_input, .total_output {
                        width: 160px;
                        padding-left: 25px;
                    }
                }
            }
            /* Currency & Coins container */

            /* Register Buttons Container */
            .buttons_container {
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .register_button {
                    font-family: "open sans";
                    font-weight: 700;
                    font-size: 12px;
                    background-color: #E8E8E8;
                    color: #000;
                    padding: 12px 28px;
                    border: none;
                    outline: none;
                    margin-right: 10px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    border-radius: 4px;

                    &.save_and_add_register {
                        background-color: #FF512F;
                        color: #fff;
                    }
                }
            }
            /* Register Buttons Container */

            /* Search Items */
            .search_items_container {
                .search_items {
                    background-color: #F0F0F0;
                    border: 1px solid #D1D1D1;
                    padding: 8px;
                    width: 250px;
                    font-size: 14px;
                    line-height: 1.65em;
                    margin-right: 2px;
                    margin-bottom: 10px;

                    &.find_items {
                        border-radius: 50px;
                        width: 300px;
                        padding-left: 15px;
                        padding-right: 65px;
                        outline: none;
                    }
                }

                button {
                    background-color: #464646;
                    color: #fff;
                    padding: 11px 20px;
                    border: none;
                    outline: none;
                    margin-right: 2px;
                    font-family: montserrat;
                    font-size: 13px;
                    position: relative;
                    margin-bottom: 5px;

                    &.search_item_button {
                        background-color: #FF512F;
                    }

                    &.find_item_button {
                        background-color: #5c5c5c;
                        border-top-right-radius: 50px;
                        position: relative;
                        left: -63px;
                        border-bottom-right-radius: 50px
                    }
                }
            }
            /* Search Items */

            /* Sales Table */
            .sales_table {
                width: 100%;
                margin-top: 50px;

                tr th {
                    font-family: montserrat;
                    text-transform: uppercase;
                    font-size: 14px;
                }

                .sales_table_head {
                    border-bottom: 1px solid #A2A2A2;

                    th {
                        border-right: 1px solid #a2a2a2;
                        padding: 15px 20px;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }

                .sales_table_row {
                    font-size: 14px;
                    td {
                        border-right: 1px solid #a2a2a2;
                        padding: 15px 20px;

                        &:last-child {
                            border-right: none;
                        }
                    }

                    .product_name {
                        width: 750px;
                    }
                }
            }
            /* Sales Table */

            /*** New Sale Page ***/
            .new_item_section_container_row {
                margin: 0px;
            }
            .new_item_section {
                min-height: 200px;
                margin-bottom: 30px;
                margin-right: 30px;
                max-width: 500px;
                background-color: #f5f5f5;
                padding: 30px 20px;

                &__heading {
                    font-size: 12px;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding-bottom: 12px;
                    border-bottom: 1px solid #dedede;
                    margin-bottom: 35px;
                }
            }
            /*** New Sale Page ***/
        }
        /* Content Body */
    }
    /* Manager RHS: Content */

    /* Input container */
    .input_container {
        display: flex;
        //align-items: center;
        margin-bottom: 20px;

        .input_p {
            margin-bottom: 0px;
            font-family: montserrat;
            font-size: 14px;
            font-weight: 400;
            min-width: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-family: arial;

            &.input_p_textarea {
                align-items: flex-start;
                padding-top: 10px;
            }
        }

        .input_box, .input_box_large, .input_box_small, .input_textarea {
            //background-color: #F0F0F0;
            background-color: #fff;
            border: 1px solid #D1D1D1;
            border-radius: 2px;
            padding: 8px 12px;
            width: 100%;
            max-width: 80px;
            margin-left: 20px;
        }

        .input_box_large {
            max-width: 300px;
            //padding-left: 25px;
        }

        .input_box_small {
            max-width: 150px;
        }

        .input_textarea {
            max-width: 300px;
            min-height: 125px;
            max-height: 125px;
        }
    }
    /* Input container */

    /* Main Heading and Button Container */
    .main_heading_button_container {
        position: relative;

        .top_buttons_container {
            position: absolute;
            right: 0;
            top:-23px;

            .save_button, .save_and_add_button, ,.add_item_button {
                background-color: #FF512F;
                color: #fff;
                padding: 10px 20px;
                font-size: 12px;
                border: none;
                outline: none;
                border-radius: 25px;
                min-width: 100px;
                margin-left: 5px;
                font-weight: 600;
            }

            .save_and_add_button {
                background-color: #5D5D5D;
            }

            .add_item_button {
                background-color: #4CAF50;
            }
        }
    }
    /* Main Heading and Button Container */

    /* New Sale RHS : Sidebar (Should be positioned outside)*/
    .new_sale_rhs {
        background-color: #f7f7f7;
        height: 100vh;
        position: absolute;
        top:0px;
        right: 0px;

        padding: 0px;
        width: 25%;
        max-width: 325px;
        min-width: 325px;

        padding: 50px 25px;

        @include media-breakpoint-down(sm) {
            width: 100%;
            max-width: 100%;
            min-width: 325px;
        }

        .new_sale_text_amount_div {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-family: montserrat;
            margin-bottom: 20px;

            .new_sale_text {
                width: 125px;
                display: inline-flex;
                justify-content: flex-start;
                font-weight: 700;
            }
            .new_sale_amount {
                width: 125px;
                display: inline-flex;
                justify-content: flex-end;
                font-weight: 400;
            }

            &.total_amount_div {
                margin-top: 50px;
                padding: 25px 0px;
                font-size: 20px;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }

        .new_sale_payment_div {
            margin-top: 60px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .payment_button, .payment_cancel_button {
                background-color: #35B858;
                color: #fff;
                padding: 12px 28px;
                border: none;
                outline: none;
                font-weight: 600;
                font-size: 13px;
                text-transform: uppercase;
                font-family: montserrat;
                margin-bottom: 10px;
                width: 130px;
                border-radius: 50px;
            }

            .payment_cancel_button {
                background-color: #E8E8E8;
                color: #000;
                position: absolute;
                bottom: 15px;
            }
        }
    }

    .new_sale_rhs_mobile {
        background-color: #fff;
        min-height: 200px;
        width: 100%;
        padding: 25px 25px 15px;

        .new_sale_text_amount_div {
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-family: montserrat;
            margin-bottom: 20px;

            .new_sale_text {
                width: 125px;
                display: inline-flex;
                justify-content: flex-start;
                font-weight: 700;

                @include media-breakpoint-down(xs) {
                    width: 85px;
                    font-size: 15px;
                }
            }
            .new_sale_amount {
                width: 125px;
                display: inline-flex;
                justify-content: flex-end;
                font-weight: 400;

                @include media-breakpoint-down(xs) {
                    width: 100px;
                    font-size: 15px;
                }
            }

            &.total_amount_div {
                margin-top: 50px;
                padding: 20px 0px;
                font-size: 18px;
                border-top: 1px solid #000;
                border-bottom: 1px solid #000;
            }
        }

        .new_sale_payment_div {
            margin-top: 40px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .payment_button, .payment_cancel_button {
                background-color: #35B858;
                color: #fff;
                padding: 12px 28px;
                border: none;
                outline: none;
                font-weight: 600;
                font-size: 13px;
                text-transform: uppercase;
                font-family: montserrat;
                margin-bottom: 10px;
                width: 130px;
            }

            .payment_cancel_button {
                background-color: #E8E8E8;
                color: #000;
            }
        }
    }
    /* New Sale RHS : Sidebar */
}
/* Manager RHS */